services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "5218:8080"
  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    ports:
      - "5173:80"
    depends_on:
      - api


